*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: "Product Sans";  */
}
html,body{
    height: 100%;
    width: 100%;
    font-size: large;
}

#main {
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:blueviolet;
    /* background-color: rgb(white, blueviolet, green); */
    /* background-image: linear-gradient(to red, to blue); */
}
#page>img{
    position: absolute;
    right: 10%;
    top: 25%;
    width: 20%;
}
#page>#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    z-index: 9;
    height: 10%;
    width: 100%;
    background-color:black;
}
#center-nav{
    display: flex;
    gap: 10px;
}
#center-nav>a{
    text-decoration: none;
    color: #ffffffaa;
    font-weight: 700;
    font-size: 17px;
}
/* #page1{
    height: 100vh;
    width: 100vw;
    background-color:blueviolet;
} */
#text{
    padding-top: 25px;
    position: relative;
    top: 25%;
    left: 6%;
    height: 60%;
    width: 50%;
    /* background-color: #ffffff93; */
    scale: 1.1;
}
#text>h1{
    font-size: 45px;
    line-height: 1;
    font-style: normal;
    font-weight: 900;
}
#text>h2{
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
    margin-top: 1px;
    color: rgba(35, 45, 45, 0.916);
    
}
#text>h4{
  color: rgb(70, 226, 43);
  position: relative;
}
#buttons{
    position: absolute;
    left: 0%;
    height: 18%;
    width: 100%;
}
#buttons>button{
    padding:12px 42px;
    border-radius: 25px;
    border-color: black;
    font-weight: 650;
    margin-top: 15px;
    margin-left: 28px;
    /* margin-right: 50px; */
    
}
#buttons>button>i{
    font-size: 16px;
    padding: 8px;
}
#buttons>#b1{
    /* margin-top: 15px;
    margin-left: 15px; */
   background-color: rgba(16, 186, 129, 0.834);
   
}
#buttons>#b2{
    background-color:  rgba(16, 186, 129, 0.834) ;
}
body::-webkit-scrollbar {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,rgb(34, 28, 39),rgb(0, 0, 0));
    border-radius: 20px;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color:blueviolet;
}
#page1>#left{
    position: absolute;
    right: 25%;
    height: 90%;
    top: 50%;
    /* bottom: 40%; */
    transform: translateX(50%); 
    width: 35%;
    background-color: rgba(16, 186, 129, 0.834);
}
#left>.box{
    height: 18.5%;
    width: 100%;
    /* bottom: 15%; */
    background-color: indianred;
    border-top: 2px solid black;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 3vw;
    background-color: #8873EF;
    border-radius: 50%;
}
.circle>i{
    color: #fff;
    font-size: 25px;
}